html {
    background: rgba(1,30,76,1); 
    
}

body {
    font-family: Arial, sans-serif;
    background: rgb(0,11,42);
    background: linear-gradient(50deg, rgba(0,11,42,1) 0%, rgba(1,30,76,1) 100%);
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -2;
}

h1 {
    font-size: 2.5rem;
}

button:hover {
    background-color: #0056b3;
}

#output-container {
    background-color: #f8f9fa;
}



.gradient-box {
    position: relative;
    background: rgb(246,225,141);
    background: linear-gradient(163deg, rgba(246,225,141,1) 0%, rgba(146,109,191,1) 33%, rgba(127,88,200,1) 66%, rgba(255,37,142,1) 100%);
    padding: 3px;
}

.gradient-content {
    background: #041B41;
    color: white;
    padding: 2rem;
    height: 100%;
}

.select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}